:root {
  --call-to-action: #2a91d0;
  --card: #000c1d;
  --background-footer: #020000;
  --back: #ececec;
  --black: #000000;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
}
.alertText {
  font-size: 30px;
  margin: 0px 15px 0px 148px;
  width: 303px;
  color: white;
}

.link-color {
  color: #65afdd;
}

.pOptionPhone {
  pointer-events: none;
  height: 38px;
  padding-top: 20px;
  margin: 0px 0px 3px 0px;
}
.enlace-contacto {
  text-decoration: none;
}
.optionCardResources {
  position: absolute;
  top: 58px;
  background: #01030d;
  width: 219px;
  padding-top: 15px;
  padding-bottom: 0;
  color: white;
  right: 90px;
  .cursorPointer {
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-top: 0;
    color: #afafaf;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.688%; /* 22.51px */
    letter-spacing: 1.04px;
  }
}

.textOphone {
  pointer-events: none;
  margin: 0px 0px 16px 40px;
  height: 23px;
  margin-top: -13px;
}
.cta-contacto-modal {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  width: 90%;
  height: 50px;
  padding: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: white;
  background-color: #2a91d0;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: #ececec;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* label {
  position: absolute;
  pointer-events: none;
  left: 10px; 
  top: 15px; 
  transition: top 0.2s ease, font-size 0.2s ease;
  opacity: 50%;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
}
textarea:focus + label,
input:focus + label,
textarea:valid + label,
input:valid + label {
  top: 5px; 
  font-size: 9px; 
} */
input {
  width: 100%;
  padding: 7px;

  color: #fff;
  font-family: 'Roboto';
  background-color: transparent;
  border: 0px solid #414141;
}
textarea {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  background: #3e4759;
  border: none;
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px;
  resize: none;
}
.form-group {
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01030d;
  z-index: 1;
  margin-top: 60px;
  overflow-y: auto;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
.sectionOptionMenu {
  /* border-bottom: 1px solid #dfdfdf; */
  font-family: Montserrat;
  color: white;
  cursor: pointer;
  padding: 0px 15px 0px 15px;
}
.productsClass {
  display: none;
}

.separator {
  border-top: 1px solid #2f3349;
  margin: 8px 0;
}
.visible {
  display: block !important;
}

.header {
  background-image: url(../Assets/back_header.png);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 9999999;
  max-width: 100%;
}

.logotipo img {
  height: 46px;
  margin-left: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  max-width: 100%;
  height: 80px;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: calc(100% - 60px);
  transition: left 0.4s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.requiredInput {
  color: rgb(184 48 48);
  margin: -30px 0px 0px 0px;
  font-size: 14px;
}

.requiredInputEmpresa {
  margin-bottom: 10px;
}

.requiredAll {
  color: rgb(184 48 48);
  margin: -10px 0px 0px 0px;
  font-size: 14px;
}
.emailValidation {
  color: rgb(184 48 48);
  margin: -23px 0px 0px 0px;
  font-size: 14px;
}
.hide {
  display: none;
}

.enviar {
  cursor: pointer;
}
.nav-menu-item {
  margin: 20px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: max-content;
  /* .showOptions {
    display: block;
  } */
  .hideOptions {
    display: none;
  }
  .optionCard {
    position: absolute;
    top: 58px;
    background: #01030d;
    width: 219px;
    padding-top: 15px;
    padding-bottom: 0;
    color: white;
    .cursorPointer {
      cursor: pointer;
      margin-bottom: 30px;
      margin-left: 15px;
      margin-top: 0;
      color: #afafaf;
      font-family: 'Montserrat';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140.688%; /* 22.51px */
      letter-spacing: 1.04px;
    }
  }
  .cursorPointer:hover {
    color: white;
  }
}

.cursorPointer-immersion {
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 0;
  color: #afafaf;

  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.688%; /* 22.51px */
  letter-spacing: 1.04px;
}

.cursorPointer-immersion:hover {
  color: white;
}

.boton-contacto {
  border-radius: 4px;
  background: var(--acento, #2a91d0);
  height: 40px;
  width: 150px;
  display: flex;
  font-family: 'Montserrat';
  font-size: 14px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

.boton-contacto:hover {
  background-color: #1b77b1;
}

.nav-menu_link {
  padding: 10px 0;
}

.mostrar-productos {
  margin-left: 10px;
}

.nav-toggle {
  background: none;
  border: none;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

.cta-contacto {
  display: flex;
  width: 90%;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: white;
  background-color: #2a91d0;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.toggle-productos {
  text-decoration: none;
  color: white;
}

.nav-menu-link:hover {
  background: none;
  color: #94d6ff;
}

.separador {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0;
  height: 1px;
  margin-top: 0px;
  background-color: #999;
}

.icono-home {
  margin-right: 5px;
}

.breadcrumbs {
  margin-top: 90px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 14px;
  padding: 0;
  margin-left: 30px;
  line-height: 140.688%; /* 22.51px */
  letter-spacing: 1.04px;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #4e4e4e;
}

.breadcrumbs-link:hover {
  text-decoration: underline;
}

.breadcrumbs-item-active {
  color: #095d91;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: '\203a';
  margin-left: 5px;
  margin-right: 5px;
}

.contacto-container {
  background-image: url(./Assets/backgroundcontacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}

.contacto-container .contenedor-1 {
  width: 100%;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.section__header {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.688%; /* 45.02px */
  letter-spacing: 2.08px;
  text-align: center;
  margin-top: 0;
  padding-top: 70px;
}

#email,
#nombre {
  border-radius: 10px;
  border: none;
  background: #3e4759;
}

.ayuda {
  height: 150px;
}
.contacto-container .contenedor-1 .contacto-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 20px;
}
.contacto-container .contenedor-1 .contacto-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contacto-container .contenedor-1 .contacto-info .box .icon {
  min-width: 70px;
  height: 70px;
  border: 2px solid #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.direccion-icono {
  height: 30px;
  width: auto;
}

.link_paginas {
  text-decoration: none;
  color: #dfdfdf;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
}

.link_paginas:hover {
  text-decoration: underline;
}

.instagram-icono {
  height: 30px;
}

.linkedin-icono {
  height: 30px;
}

.twitter-icono {
  height: 30px;
}
.contacto-container .contenedor-1 .contacto-info .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #d1d5db;
  flex-direction: column;
  font-weight: 300;
}
.contacto-container .contenedor-1 .contacto-info .box .text h4 {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-info {
  margin-left: 45px;
}

.text-info1 {
  margin-top: 20px;
}

.direccion-texto {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}

.parrafo-direccion {
  color: #dfdfdf;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  margin-top: 10px;
}

.contacto-container .contenedor-1 .contacto-info .box .text p {
  flex-wrap: wrap;
}
.contacto-container .contenedor-2 .subtitulo-contacto h4 {
  margin-left: 150px;
  color: #66c5ff;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  margin-top: 50px;
  margin-bottom: 40px;
}
.contacto-container .contenedor-2 .subtitulo-contacto h4 .fa-caret-down {
  margin-left: 0;
}
.contacto-container .form-container {
  width: 35%;
  border: solid transparent;

  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 150px;
}

.contacto-container .form-container .form .form-group input {
  font-size: 16px;
}

.contacto-container .form-container button:active {
  scale: 0.95;
}
.contacto-container .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-submit-btn {
  cursor: pointer;
  margin-top: 0 !important;
}

.contacto-container .form-container .form .form-submit-btn {
  width: 100%;
  display: flex;
  height: 50px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 10px;
  background-color: #2a91d0;
  border-radius: 4px;
  border: 0;

  color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contacto-container .form-container .form .form-submit-btn:hover {
  background-color: #1b77b1;
  cursor: pointer;
}
.contacto-container .form-container .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.text-titulo {
  color: #66c5ff;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}

.contacto-container .form-container .form .form-group {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.contacto-container .form-container .form {
  width: 100%;

  color: #fff;
  font-family: 'Roboto';
  background-color: transparent;
  /* border: 1px solid #414141; */
}

::placeholder {
  color: #686c73;
}

.contacto-container .form-container .form .form-group input:focus {
  outline: none;
  border-color: #eeeeee;
}
.contacto-container .form-container .form .form-group {
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #434343;
  background: #3e4759;
}
.contacto-container .form-container .form .form-group textarea:focus {
  outline: none;
}

.hr1 {
  border-color: #f6f6f6;
  margin: 0;
  margin-right: 30px;
  margin-left: 30px;
  opacity: 0.5;
  width: auto;
}

.separador-final {
  background-color: #020000;
}

.pie-de-pagina {
  background-color: #020000;
}

.footer1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #020000;
}

footer p {
  margin-top: 10px;
  color: #e9e9e9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

footer h3 {
  margin-top: 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%; /* 16.87px */
}

.logo-footer {
  margin-top: 40px;
  height: 46px;
  width: auto;
  margin-right: 80px;
}

.compañia {
  margin-top: 40px;
}

.casos-de-uso {
  margin-top: 40px;
}

.direccion {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 0;
}

.iconos-footer {
  height: 42px;
  width: auto;
  margin-left: 30px;
  margin-top: 30px;
}

.twitter {
  margin-left: 0;
}

.icono-instagram {
  height: 42px;
  width: auto;
  margin-left: 30px;
  margin-top: 30px;
}

.footer-3 {
  margin-right: 50px;
}

.footer-3 li {
  margin-top: 20px;
  color: #e9e9e9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.separador-final-2 {
  margin-top: 30px;
}

.footer-final {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.footer-4 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.link-productos:hover {
  text-decoration: underline;
  color: white;
}

.casos-li {
  margin-top: 20px;
  padding: 0;
  list-style-position: inside;
}

.tm-analytiko {
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.tm {
  margin-left: 50px;
  margin-bottom: 20px;
}
.invisible {
  display: none;
}
.contacto-container .contenedor-1 .contacto-info .box {
  align-items: center;
}

@media (max-width: 944px) {
  .modal {
    margin-top: 80px;
  }
  .nav-menu-item {
    display: none;
  }

  .boton-contacto {
    display: none;
  }

  .nav-toggle {
    background: none;
    border: none;
    padding-right: 0;
    line-height: 60px;
    display: flex;
    align-items: center;
  }

  .toggle-productos {
    text-decoration: none;
    color: white;
  }

  .toggle-productos {
    text-decoration: none;
    color: white;
  }

  .cta-contacto {
    width: 90%;
  }

  .pOptionPhone {
    margin: 0px 0px 3px 0px;
    pointer-events: none;
    font-size: 16px;
  }
  .separadorProducts {
    border-top: 1px solid #ccc;
    margin: 9px 39px;
  }
  .productsClass {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .cursorPointer {
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    margin-left: 40px;
    margin-top: 25px;
  }
  .alertText {
    font-size: 30px;
    margin: 0px 15px 0px 27px;
    width: 303px;
  }
}

@media (max-width: 768px) {
  .nav {
    height: auto;
  }

  .modal {
    margin-top: 60px !important;
  }

  .breadcrumbs {
    margin-top: 70px;
  }

  .header {
    height: 60px;
  }

  .logotipo img {
    height: 36px;
    margin-top: 12px;
  }

  .nav-menu-item {
    display: none;
  }

  .section__container {
    width: 100%;
  }

  .boton-contacto {
    display: none;
  }

  .nav-toggle {
    background: none;
    border: none;
    padding-right: 0;
    line-height: 60px;
    display: flex;
    align-items: center;
  }

  .section__header {
    font-size: 24px;
  }

  .contacto-container .form-container .form .form-group {
    font-size: 16px;
  }

  .contacto-container .form-container {
    margin-left: 0px;
    padding-left: 24px;
    padding-right: 60px;
    width: 100%;
  }

  .text-titulo {
    width: 100%;
    font-size: 16px;
  }

  .text-info {
    margin-left: 25px;
  }

  .contacto-container .contenedor-2 .subtitulo-contacto h4 {
    display: flex;
    font-size: 16px;
    margin-left: 30px;
  }

  .direccion-texto {
    font-size: 16px;
  }

  .parrafo-direccion {
    font-size: 14px;
  }

  .contacto-container {
    padding-bottom: 30px;
  }

  .contacto-container .contenedor-1 .contacto-info {
    margin-left: 0;
    width: auto;
  }

  .box {
    margin-left: 30px;
  }

  footer {
    color: #fff;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #020000;
  }

  footer p {
    font-size: 15px;
  }

  footer h3 {
    margin-top: 10px;
    font-size: 16px;
  }

  .logo-footer {
    margin-top: 20px;
    height: 36px;
    width: auto;
  }

  .compañia {
    margin-top: 20px;
  }

  .casos-de-uso {
    margin-top: 20px;
  }

  .direccion {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .footer1 {
    margin-left: 30px;
  }

  .iconos-footer {
    height: 30px;
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
  }

  .icono-instagram {
    height: 30px;
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
  }

  .twitter {
    margin-left: 0;
  }

  .footer-2 {
    margin-left: 30px;
  }

  .footer-3 {
    margin-left: 30px;
  }

  .footer-3 li {
    margin-top: 20px;
    color: #e9e9e9;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  .separador-final-2 {
    margin-top: 30px;
  }

  .footer-final {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    margin-top: 0;
  }

  .footer-4 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .casos-li {
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
  }

  .tm {
    margin-left: 30px;
  }
  .pOptionPhone {
    margin: 0px 0px 3px 0px;
    pointer-events: none;
    font-size: 16px;
  }
  .separadorProducts {
    border-top: 1px solid #ccc;
    margin: 9px 39px;
  }
  .productsClass {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .cursorPointer {
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    margin-left: 40px;
    margin-top: 25px;
  }
}
/* Animaciones */
slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
     * ----------------------------------------
     * animation slide-bottom
     * ----------------------------------------
     */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    overflow: 10%;
    display: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    overflow: 100%;
    display: block !important;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    overflow: 10%;
    display: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    overflow: 100%;
    display: block !important;
  }
}
