:root {
  --call-to-action: #2a91d0;
  --card: #000c1d;
  --background-footer: #020000;
  --back: #ececec;
  --black: #000000;
  --white: #ffffff;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.divOptionHeader {
  position: absolute;
  height: 49px;
  z-index: 999999;
  width: 218px;
}
.pOptionPhone {
  pointer-events: none;
  height: 38px;
  padding-top: 20px;
  margin: 0px 0px 3px 0px;
}
.textOphone {
  pointer-events: none;
  margin: 0px 0px 16px 40px;
  height: 23px;
  margin-top: -13px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: #ececec;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  background-image: url(../Assets/back_header.png);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 99999;
}

.logotipo img {
  height: 46px;
  margin-left: 30px;
}

.nav {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  max-width: 100%;
  height: 80px;
}

.nav-link {
  color: white;
  text-decoration: none;
  z-index: 99999999;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: calc(100% - 60px);
  -webkit-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.toggle-productos {
  text-decoration: none;
  color: white;
}

.nav-menu-item {
  margin: 0 20px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.optionCard {
  position: absolute;
  top: 32px;
  background: #01030d;
  width: 219px;
  padding-top: 15px;
  padding-bottom: 0;
  color: white;
}
.optionCardResources {
  position: absolute;
  top: 42px;
  background: #01030d;
  width: 219px;
  padding-top: 15px;
  padding-bottom: 0;
  color: white;
}
.cursorPointer {
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 0;
  color: rgb(218, 218, 218);
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.688%; /* 22.51px */
  letter-spacing: 1.04px;
}
.hideOptions {
  display: none;
}
.cursorPointer:hover {
  color: white;
}
.cursorPointer-immersion {
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 0;
  color: #afafaf;

  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.688%; /* 22.51px */
  letter-spacing: 1.04px;
}

.cursorPointer-immersion:hover {
  color: white;
}

.boton-contacto {
  border-radius: 4px;
  background: var(--acento, #2a91d0);
  height: 40px;
  width: 150px;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  font-family: 'Montserrat';
  font-size: 14px;
  padding: 10px 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

.nav-menu_link {
  padding: 10px 0;
}

.mostrar-productos {
  margin-left: 10px;
}

.nav-toggle {
  background: none;
  border: none;
  padding: 0 20px;
  line-height: 60px;

  display: none;
}

.nav-menu-link:hover {
  background: none;
  color: #94d6ff;
}

.icono-home {
  margin-right: 5px;
}

.breadcrumbs {
  margin-top: 90px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 14px;
  padding: 0;
  margin-left: 30px;
  line-height: 140.688%; /* 22.51px */
  letter-spacing: 1.04px;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #4e4e4e;
}

.breadcrumbs-link:hover {
  text-decoration: underline;
}

.breadcrumbs-item-active {
  color: #095d91;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: '\203a';
  margin-left: 5px;
  margin-right: 5px;
}

#hero {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80vh;
  color: #d7d7d7;
  background-image: url('./assets/Producto_Analytiko_Seccion_1.png');
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo-analytiko {
  height: 88px;
  width: 432px;
}

.hero-titulo {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.pointernone {
  pointer-events: none;
}

.seccion2-texto {
  width: 100%;
  padding: 0px 40px 0px 40px;
}

.contenedor-seccion2 {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f6f6f6;
  margin-top: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 70px;
}

.titulo-seccion2 {
  font-family: 'Montserrat';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.688%; /* 45.02px */
  letter-spacing: 2.08px;
  padding-top: 70px;
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.parrafo-seccion2 {
  width: 100%;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 36px */
  margin-top: 0;
  margin-bottom: 30px;
}

.contenedor-boton {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.boton-mas-sobre-analytiko {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: solid #7c8288;
  border-right: none;
  border-bottom: 1px solid;
  border-left: none;
  border-top: 1px solid;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #000;
  position: relative;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ver-mas1 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
  right: 0;
  margin-top: 5px;
}

.icono-leer {
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.video-1 {
  width: 100%;
  border-radius: 8px;
  height: 450px;
}

.video-seccion2-contenedor {
  margin-top: 75px;
  margin-right: 40px;
  margin-left: 40px;
  width: 100%;
}

.ventajas-seccion3 {
  cursor: pointer;
  color: black;
}

.contenedor-seccion3 {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
}

.titulo-seccion3 {
  font-family: 'Montserrat';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.688%; /* 45.02px */
  letter-spacing: 2.08px;
  padding-top: 70px;
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.parrafo-seccion3 {
  width: 100%;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 36px */
  margin-top: 0;
  margin-bottom: 0;
}

.padding-auditabilidad {
  padding-bottom: 20px;
}
.seccion3-texto-content {
  margin: 0px 40px 0px 40px;
  width: 100%;
}
.ventajas-seccion3 {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
}

.imagen-seccion3 {
  width: 100%;
  margin: 0px;
}
.imagen-seccion3-contenedor {
  margin-right: 40px;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 78px;
  margin-left: 40px;
}

.image-seccion3-movil {
  display: none;
}

.ventajas-permanencia {
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  text-align: justify;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
  width: 530px;
  height: 42px;
  background-color: transparent;
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
}

.parrafo-permanencia {
  width: auto;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 36px */
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 0;
  display: none;
  -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.parrafo-permanencia-2 {
  width: auto;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 36px */
  padding-bottom: 20px;
  margin-bottom: 0;
  display: none;
  -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-top: 0;
}

.ventajas-seccion3 {
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  text-align: justify;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border: solid #7c8288;
  border-right: none;
  border-bottom: 1px solid;
  border-left: none;
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contenedor-imagen3-otras {
  pointer-events: none;
}

.ver-mas3 {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-left: 15px;
}

.contenedor-seccion4 {
  background-color: #f6f6f6;
  width: 100%;
}

.r {
  font-size: 24px;
  vertical-align: super;
}

.contenedor-izquierda {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.titulo-seccion4 {
  text-align: center;
  padding-top: 70px;
  margin-bottom: 0;

  font-family: 'Montserrat';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.688%; /* 45.02px */
  letter-spacing: 2.08px;
}

.parrafo-seccion4 {
  color: #000;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 945px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0;
}

.contenedor-parrafo {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.imagen-movil-4 {
  display: none;
}
.contenedor-parrafo4-2 {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contenido-derecha {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
}

.titulo-organizacion {
  color: #000;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  list-style-type: none;
}

.parrafo-organizacion {
  /* width: 530px; */
  width: 100%;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 36px */
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
}

.organizacion-datos {
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 0;
  width: 100%;
  padding: 0px 80px 0px 0px;
}

.parrafo-organizacion {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}

.contenedor-imagen4 {
  width: 100%;
  height: auto;
  margin-top: 60px;
  border-radius: 16px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 70px;
}

.contenedor-imagen4-2 {
  width: 100%;
  height: auto;
  margin-top: 70px;
  border-radius: 16px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 70px;
}

.imagen-seccion4 {
  width: 100%;
}
.ventajas-dos {
  width: 100%;
}
.beneficios-izquierda {
  width: 100%;
}
.titulo-automatizacion {
  color: #000;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
  list-style-type: none;
  width: 100%;
}

.automatizacion-procesos {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
  width: 100%;
}

.titulo-automatizacion2 {
  color: #000;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  list-style-type: none;
}

.titulo-automatizacion3 {
  color: #000;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  list-style-type: none;
}

.type {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.parrafo-procesos {
  width: 100%;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 36px */
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: 40px;
}
.beneficios-tres {
  width: 100%;
  margin: 0px 40px;
}

.imagen-seccion4-2 {
  width: 100%;
}

.resolucion-casos {
  margin-bottom: 70px;
}

.contenido-izquierda {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.linea-final {
  margin-left: 30px;
  margin-right: 30px;
  color: #28333c;
  margin-top: 0;
  margin-bottom: 0;
}

#nuestras-marcas {
  background-image: url(../Assets/background_nuestras_marcas.jpg);
  margin-top: auto;
  height: 520px;
  background-size: cover;
}

.container {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#nuestras-marcas h1 {
  padding-top: 50px;
  padding-bottom: 0px;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.42px;
}

.logo-forsker {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 70px;
  margin-bottom: 18px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.logo-immersion {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 66px;
}

.parrafo-forsker {
  color: #000;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
  text-align: center;
  text-align: justify;
  margin-right: 0;
  margin-top: 24px;
  margin-bottom: 0;
}

.parrafo-immersion {
  color: #000;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
  text-align: center;
  margin-top: 18px;
  text-align: justify;
  margin-bottom: 0;
}

.boton-leer {
  color: #000000;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border: solid #7c8288;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid;
  border-top: 1px solid;
  cursor: pointer;
  margin-top: 30px;
}

.boton-leer-immersion {
  color: #000000;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border: solid #7c8288;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid;
  border-top: 1px solid;
  cursor: pointer;
  margin-top: 80px;
}

.flecha45 {
  margin-left: 12px;
}

#cta-final {
  background-image: url(../Assets/back_contactanos.png);
  height: auto;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

#cta-final h1 {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
}

#cta-final div {
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--background, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 30px;
}

.cta-contacto {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  width: 400px;
  height: 50px;
  padding: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: white;
  background-color: #2a91d0;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  margin-top: 20px;
}
.cta-contacto-modal {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  width: 90%;
  height: 50px;
  padding: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: white;
  background-color: #2a91d0;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.card3 {
  /* margin-left: 20px;
   margin-right: 20px;
   padding-left: 50px;
   padding-right: 50px; */
  width: 300px;
  height: 360px;
  min-width: 300px;
}

.card4 {
  width: 300px;
  min-width: 300px;
  height: 360px;
  margin-left: 100px;
  /* margin-left: 20px;
   padding-left: 50px;
   padding-right: 50px;
 */
}

.cta-contacto {
  cursor: pointer;
}

.cta-contacto .cta-contacto-modal:hover {
  background-color: #1b77b1;
}

.boton-contacto:hover {
  background-color: #1b77b1;
}

.cta-contacto:hover {
  background-color: #1b77b1;
}

.enlace-contacto {
  text-decoration: none;
}

.hr1 {
  border-color: #f6f6f6;
  margin: 0;
  margin-right: 30px;
  margin-left: 30px;
  opacity: 0.5;
  width: auto;
}

.separador-final {
  background-color: #020000;
}

.pie-de-pagina {
  background-color: #020000;
}

.footer1 {
  margin-left: 50px;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer {
  color: #fff;
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #020000;
}

footer p {
  margin-top: 10px;
  color: #e9e9e9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

footer h3 {
  margin-top: 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%; /* 16.87px */
}

.logo-footer {
  margin-top: 40px;
  height: 46px;
  width: auto;
  margin-right: 80px;
}

.compañia {
  margin-top: 40px;
}

.casos-de-uso {
  margin-top: 40px;
}

.direccion {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 0;
}

.iconos-footer {
  height: 42px;
  width: auto;
  margin-left: 30px;
  margin-top: 30px;
}

.twitter {
  margin-left: 0;
}

.linea {
  text-decoration: none;
}

.icono-instagram {
  height: 42px;
  width: auto;
  margin-left: 30px;
  margin-top: 30px;
}

.footer-3 {
  margin-right: 50px;
}

.link-productos:hover {
  text-decoration: underline;
  color: white;
}

a {
  text-decoration: none;
}

.footer-3 li {
  margin-top: 20px;
  color: #e9e9e9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.separador-final-2 {
  margin-top: 30px;
}

.footer-final {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  margin-top: 0;
}

.footer-4 {
  -webkit-box-display: flex;
  -ms-flexbox-display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 10px;
}

.casos-li {
  margin-top: 20px;
  padding: 0;
  list-style-position: inside;
}

.tm-analytiko {
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.tm {
  margin-left: 50px;
  margin-bottom: 20px;
}

.visible {
  display: block !important;
}

.rotate-icon.rotated {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); /* Cambia el ángulo de rotación según lo necesites */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Agrega una transición suave */
}
.sectionOptionMenu {
  /* border-bottom: 1px solid #dfdfdf; */
  font-family: Montserrat;
  color: white;
  cursor: pointer;
  padding: 0px 15px 0px 15px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01030d;
  z-index: 1;
  margin-top: 60px;
  overflow-y: auto;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
.sectionOptionMenu {
  /* border-bottom: 1px solid #dfdfdf; */
  font-family: Montserrat;
  color: white;
  cursor: pointer;
  padding: 0px 15px 0px 15px;
}
.productsClass {
  display: none;
}

.separator {
  border-top: 1px solid #2f3349;
  margin: 8px 0;
}
.separadorProducts {
  border-top: 1px solid #ccc;
  margin: 9px 39px;
}
@media (max-width: 1040px) {

  .modal {
    margin-top: 80px;
  }
  .nav-toggle {
    background: none;
    border: none;
    padding-right: 0;
    line-height: 60px;
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-menu-item {
    display: none;
  }
  .boton-contacto {
    display: none;
  }
}
@media (max-width: 944px) {
  

  .nav-menu-item {
    display: none;
  }

  .boton-contacto {
    display: none;
  }

  .nav-toggle {
    background: none;
    border: none;
    padding-right: 0;
    line-height: 60px;
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .toggle-productos {
    text-decoration: none;
    color: white;
  }

  .toggle-productos {
    text-decoration: none;
    color: white;
  }

  .pOptionPhone {
    margin: 0px 0px 3px 0px;
    pointer-events: none;
    font-size: 16px;
  }
  .separadorProducts {
    border-top: 1px solid #ccc;
    margin: 9px 39px;
  }
  .productsClass {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .cursorPointer {
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    margin-left: 40px;
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .type {
    margin-bottom: 0;
  }

  .r {
    font-size: 20px;
  }

  .nav {
    height: auto;
  }

  .modal {
    margin-top: 60px;
  }

  .breadcrumbs {
    margin-top: 70px;
  }

  .header {
    height: 60px;
  }

  .logotipo img {
    height: 36px;
    margin-top: 12px;
  }

  .nav-toggle {
    background: none;
    border: none;
    padding-right: 0;
    line-height: 60px;
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo-analytiko {
    height: 56px;
    width: 302px;
  }

  .hero-titulo {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .titulo-seccion2 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.688%; /* 45.02px */
    letter-spacing: 2.08px;
    padding-top: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    width: auto;
  }

  .parrafo-seccion2 {
    width: 100%;

    text-align: justify;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; /* 36px */
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  .contenedor-seccion2 {
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f6f6f6;
    margin-top: 0;
    max-width: 100%;
  }

  .seccion2-texto {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    width: auto;
  }

  .video-seccion2-contenedor {
    width: auto;
    margin: 0 30px 30px 30px;
  }

  .boton-mas-sobre-analytiko {
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    height: 50px;
  }

  .imagen-seccion2-contenedor {
    margin: 0;
    padding: 0;
  }

  .parrafo-permanencia-2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  .imagen2 {
    padding: 0;
    margin-bottom: 30px;
  }

  .contenedor-seccion2 {
    padding-bottom: 0;
  }

  .contenedor-seccion3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
  }

  .contenido-texto-3 {
    width: 100%;
  }
  .seccion3-texto-content {
    padding: 0px 30px;
    width: 100%;
    margin: 0px;
  }

  .imagen-seccion3-contenedor {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .beneficios-tres {
    width: 100%;
    margin: 0px;
  }

  .r {
    font-size: 20px;
  }

  .titulo-seccion3 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.688%; /* 45.02px */
    letter-spacing: 2.08px;
    padding-top: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    width: auto;
    text-align: center;
  }

  .parrafo-seccion3 {
    width: auto;

    text-align: justify;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; /* 36px */
    margin-top: 0;

    padding: 0;
  }

  .parrafo-permanencia {
    font-size: 16px;
    width: 100%;
    margin-right: 30px;
    margin-top: 0;
    padding-top: 20px;
    -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .ventajas-seccion3 {
    width: 100%;
    font-size: 16px;
  }

  .contenedor-imagen3-otras {
    margin-left: 20px;
  }

  .imagen-seccion3 {
    display: none;
  }

  .image-seccion3-movil {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .contenedor-movil3 {
    width: 100%;
    height: auto;
  }

  .titulo-seccion4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 30px;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat';
  }

  .parrafo-seccion4 {
    margin-top: 0;
    font-size: 16px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
  }

  .titulo-organizacion {
    margin-top: 30px;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .contenedor-izquierda {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }

  .beneficios-izquierda {
    width: 100%;
  }

  .clase-flexible {
    width: 100%;
    max-width: none;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }

  .parrafo-organizacion {
    text-align: justify;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
    width: 100%;
    margin-top: 20px;
  }

  .organizacion-datos {
    padding: 0px;
    margin: 0px;
  }

  .contenido-derecha {
    display: block;
  }

  .contenido-izquierda {
    display: block;
    padding-bottom: 30px;
  }
  .contenedor-imagen4 {
    width: auto;
    height: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    display: none;
  }

  .imagen-seccion4 {
    width: 400px;
    height: auto;
    display: none;
  }

  .contenedor-movil-4 {
    display: block;
    width: auto;
    height: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;

    background-color: #dde3e9;
    text-align: center;
    border-radius: 16px;

    -webkit-box-display: flex;

    -ms-flexbox-display: flex;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .imagen-movil-4 {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contenedor-imagen4-2 {
    width: auto;
    height: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }

  .imagen-seccion4-2 {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .resolucion-casos {
    margin-bottom: 30px;
  }

  .contenedor-seccion4 {
    max-width: 100%;
  }

  #nuestras-marcas h1 {
    font-size: 20px;
    padding: 30px;
  }

  #nuestras-marcas {
    height: 840px;
  }

  .container {
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* Centra horizontalmente */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* Centra verticalmente */
    padding-bottom: 70px;
  }

  .logo-immersion {
    margin-top: 40px;
  }

  .logo-forsker {
    margin-top: 20px;
  }

  .parrafo-forsker {
    margin-right: auto;
    margin-left: auto;
  }

  .parrafo-immersion {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
  }

  .card3 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0;
  }

  .card4 {
    margin-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .boton-leer-immersion {
    margin-top: 30px;
  }

  #cta-final {
    height: 200px;
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: cover;
  }

  #cta-final h1 {
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .divContant {
    width: 100%;
  }

  #cta-final div {
    height: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: var(--background, #fff);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
  }

  footer {
    color: #fff;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #020000;
  }

  footer p {
    font-size: 15px;
  }

  footer h3 {
    margin-top: 10px;
    font-size: 16px;
  }

  .logo-footer {
    margin-top: 20px;
    height: 36px;
    width: auto;
  }

  .compañia {
    margin-top: 20px;
  }

  .casos-de-uso {
    margin-top: 20px;
  }

  .direccion {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .footer1 {
    margin-left: 30px;
  }

  .iconos-footer {
    height: 30px;
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
  }

  .icono-instagram {
    height: 30px;
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
  }

  .twitter {
    margin-left: 0;
  }

  .footer-2 {
    margin-left: 30px;
  }

  .footer-3 {
    margin-left: 30px;
  }

  .footer-3 li {
    margin-top: 20px;
    color: #e9e9e9;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  .separador-final-2 {
    margin-top: 30px;
  }

  .footer-final {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    margin-top: 0;
  }

  .footer-4 {
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 10px;
  }

  .casos-li {
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
  }

  .tm {
    margin-left: 30px;
  }
  /* ////////// */
  .pOptionPhone {
    margin: 0px 0px 3px 0px;
    pointer-events: none;
    font-size: 16px;
  }
  .iconShow {
    fill: rgb(255, 0, 0); /* Cambia el color del relleno */
    stroke: rgb(255, 0, 0); /* Cambia el color del trazo (stroke) */
  }
  .buttonContact {
    margin-top: 25px;
  }
  .displayNone {
    display: none;
  }
  .productsClass {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .cursorPointer {
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    margin-left: 40px;
    margin-top: 25px;
  }
  .separadorProducts {
    border-top: 1px solid #ccc;
    margin: 9px 39px;
  }
  .marginButton {
    margin-bottom: 30px;
  }
}

/* Animaciones */
slide-bottom {
  -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    overflow: 10%;
    display: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    overflow: 100%;
    display: block !important;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    overflow: 10%;
    display: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    overflow: 100%;
    display: block !important;
  }
}

@media (max-width: 420px) {
  .cta-contacto {
    width: 300px;
  }
}
